@import "mixin","variables";

.headerPrincipal{ /* imagen para el header*/

    //background-image: url(../img/background.png);
    background-color: rgb(2, 2, 63);
    width: 100%;
    @include flexOpcion(flex, column, center,center);

    h1{ /*título principal de la página, nombre empresa*/
        
        height:100px;
        text-align: center;
        padding-top: 20px;
        color: $textoBlanco;
        font-size: 50px;

    }

    .alineadorLogo{

        @include flexOpcion2(flex,center,center);
    
        h1{
            font-family: 'Anurati Normal';
            align-self: center;
        }
        
        .logoHeader { /* logo de la empresa para el header*/

            width: 6.25rem;
            margin-top: 5px;
        }

    }//cierre alineadorLogo


    .menuNav{ /*modificacion de estilos menú principal de navegación*/
    
        background: #54609D;
        background: -moz-linear-gradient(top, #54609D 0%, #1418D5 48%, #0F3B58 100%);
        background: -webkit-linear-gradient(top, #54609D 0%, #1418D5 48%, #0F3B58 100%);
        background: linear-gradient(to bottom, #54609D 0%, #1418D5 48%, #0F3B58 100%);
        width:100%;

        ul {
    
            li{
                padding:0 15px;
                margin-left: 0px;
                font-size: 20px;
                font-weight: 800
            } 
        }

    }//Cierre menuNav

} //cierre Headerprincipal



.navbar-nav{ //modificacion atributos del bootstrap
            
    a:hover{

        color:$hovers !important;
    }
}

.dropdown-menu { /* justificacion del texto del menu desplegable. modificacion del bootstrap*/
        
    text-align: center;
}

.container-fluid{ /*modificacion del NAV del boostrap*/

    width: auto;

}

.navbar-light .navbar-brand, .nav-link, #colorMenu{/*Cambio del color del boostrap de la fuente del nav*/

    color:$azulPrincipal;

} //cierre navbar

.navbar {

    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {

    padding: 0rem 1rem;

}